#
# localhost.cnf
#

[ req ]
prompt = no
distinguished_name = server_distinguished_name
req_extensions = v3_req

[ server_distinguished_name ]
commonName = 10.181.214.177
stateOrProvinceName = TS
countryName = IN
emailAddress = Harshavardhan.Athaluri@ge.com
organizationName = GE Digital
organizationalUnitName = Development

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.0 = 10.181.214.177
IP.1 = 10.181.24.177 
